# .gitignore for project

# ---------------------------------------------------------------------------
# Ignored files and folders
# ---------------------------------------------------------------------------

# OS-specific files
.DS_Store            # macOS
/macOs
/Windows#
/#

# Python-specific files
__pycache__/
*.py[cod]
/myenv
/backend/__pycache__/*
/backend/app/**/__pycache__/
/backend/myenv/

# Node.js and dependencies
node_modules/
frontend/node_modules/
/.pnp
.pnp.js

# ---------------------------------------------------------------------------
# Project-specific files
# ---------------------------------------------------------------------------

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/log.txt
/backend/logs/*

# Build files and dependencies
/build

# Uploaded, extracted, and exported files (used files)
/backend/uploaded/*
/backend/extracted/*
/backend/exported/*

# Coverage reports
/coverage

# ---------------------------------------------------------------------------
# Temporary and unknown files
# ---------------------------------------------------------------------------

/On
backend/app/__pycache__/__init__.cpython-311.pyc
backend/app/__pycache__/config.cpython-311.pyc
backend/app/__pycache__/models.cpython-311.pyc
backend/app/__pycache__/routes.cpython-311.pyc
backend/app/services/__pycache__/project_services.cpython-311.pyc
backend/app/utils/__pycache__/file_utils.cpython-311.pyc
backend/app/utils/__pycache__/logging_utils.cpython-311.pyc
backend/app/validation/__pycache__/validators.cpython-311.pyc
backend/output_cvp.json
.vscode/settings.json
dist/
