/* src/assets/styles/App.css */

/* Global resets */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--bg-default);
  color: var(--text-primary);
}

/* Flexbox layout for the entire screen */
main {
  display: flex;
  min-height: 100vh;
  padding-top: 60px; /* Account for navbar height */
  padding-bottom: 20px; /* Account for footer height or bottom elements */
}

/* Content styling */
.content {
  flex: 1;
  margin-left: 250px;  /* Make space for the sidebar */
  padding: 20px;
  overflow: auto;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;  /* Ensure height matches the top padding */
  background-color: var(--navbar-bg);
  color: white;
  z-index: 1000;
}

/* Ensure full-height layout for the body and html */
html, body {
  height: 100%;
}

/* Progress bar styling (if needed) */
.progress-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content {
  flex: 1;
  margin-left: 250px; /* Make space for the sidebar */
  padding: 20px;
  overflow: auto;
}
